#container {
    background-color: orange;
    height: 800px;
    width: 1250px;
}
#header {
    background-color: lightblue;
    height: 150px;
    width: 1250px;
    margin-bottom: 50px;
}
#container2 {
    background-color: yellow;
    height: 400px;
    width: 850px;
    float: left;
    
}
#left {
    background-color: lightgreen;
    height: 400px;
    width: 200px;
    float: left;
}
#right {
    background-color: lightgreen;
    height: 400px;
    width: 200px;
    float: left;
}
#left_top {
    background-color: lightgrey;
    height: 200px;
    width: 50%;
    float: left;
}
#right_top {
    background-color: grey;
    height: 200px;
    width: 50%;
    float: left;
}
#content {
    background-color: lightyellow;
    height: 200px;
    width: 100%;
    float: left;
}
#clear {
    clear: both;
}
#footer {
    background-color: pink;
    height: 150px;
    width: 100%;
    margin-top: 50px;
}